.alt-header {
    padding: var(--horizontal-space);
    margin-bottom: 15px;
    display: flex;
    /* space-between을 사용하게 되면 글자 수에 따라 배열이 중앙 정렬이 안됨 */
    /* 따라서 center 사용 후 alt-header__column에 margin auto 주기 */
    /* 하지만 오른쪽에 아이템이 하나 더 생기면 중앙 정렬 깨짐  */
    justify-content: center;
    align-items: center;
}

.alt-header__title {
    font-size: 28px;
    font-weight: 600;
}

.alt-header__column {
    width: 33%;
}

.alt-header__column:first-child {
    margin-right: auto;
}

.alt-header__column:nth-child(2) {
    text-align: center;
}

.alt-header__column:last-child {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.alt-header__column span:last-child {
    margin-left: 20px;
}